.footer {
  // background-color: #192136;
  background-color: #1f263a;
  min-height: 300px;

  .footerMessageContainer {
    background-color: #e9f5ff;
    min-height: 150px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p {
    cursor: pointer;
  }
}
