.milestoneContainer {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  //   background-color: #fdfd;
  .milestoneData {
    width: 60%;

    .milestoneDataGrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1.5rem;
      margin-top: 2rem;
    }
    .milestoneCount {
      font-size: 22px;
      font-family: "Montserrat", sans-serif;
      color: #006dff;
      font-weight: 600;
      & > p {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: #212122d7;
        font-weight: normal;
        display: inline-block;
        margin-bottom: 0.5rem;
      }
    }
  }
  .milestoneImage {
    width: 50%;
    min-width: 300px;
    z-index: -1;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    .milestoneData {
      width: 100%;
    }
    .milestoneImage {
      width: 100%;
      min-width: 300px;
      margin-top: -2rem;
      z-index: -1;
    }
  }
}
